* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Caveat", cursive;
	font-family: "Teko", sans-serif;
	font-family: "Tomorrow", sans-serif;
}

:root{
  --primary: #15162b;
  --primary-lite: #1B1E33;
  --secondary: #DC1FFF;
  --primary-text: #ECF0FF;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: var(--primary);
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

.selected{
	transition: all .2s;
	transform: scale(1.6);
}